

# symlinks to data
/sclera_data
/vein_sclera_data

# Usual scp transfer folders:
scp*/
PrunedModels*/
DonePrunedModels*/

# On the fly output and sbatch files:
x[0-9]*_out*.txt
y[0-9]*_run_me*.sbatch

Model folder names:
test_*/
unet_*/
segnet_*/


# Folder for scp fig showing:
for_fig_shower/

# Folder for saving of shell scripts that are run (for posterity and later bug fixes):
bash_results/



# Older model folder names:
SegNet_*/
UNet_*/





# Probs not needed anymore:
# saved/
# saved_main/
# UNet/
# UNet_main/
# Unet/
# unet/
# ResNet/
# SegNet/
# SegNet_main/
# test_SegNet/
# test_SegNet_main/
# test_SegNet_pruned/
# test_UNet/
# test_UNet_main/
# test_UNet_pruned/
# test_UNet_pruning/
# test_uniform_SegNet_pruning/
# test_SegNet_pruning/


# z_pipeline_SegNet*/
# z_pipeline_UNet*/

# SegNet_*.sh
# UNet_*.sh
# SegNet_*.sbatch
# UNet_*.sbatch
# SegNet_*_out.txt
# UNet_*_out.txt









