

# symlinks to data
/sclera_data*
/vein_sclera_data*

# Usual scp transfer folders:
scp*/
PrunedModels*/
DonePrunedModels*/

# Some utput and sbatch files:
x_*.txt
x[0-9]*_out*.txt
y[0-9]*_run_me*.sbatch

# Model folder names:
test_*/
unet_*/
segnet_*/

# So i can keep folders clean:
older_folders/

# Folder for (scp) fig showing:
for_fig_shower/
quick_figs/

# Folder for saving of shell scripts that are run (for posterity and later bug fixes):
bash_results/

# Slurm outputs:
slurm-*.out

# Older model folder names:
SegNet_*/
UNet_*/

# Pipeline folders should be ignored, so you can just copy them from ported PrunedModels.
# But we use a negation pattern to add back the z_pipeline_base folder.
z_pipeline_*/
!z_pipeline_unet/


multipurpose.sbatch
pruned_models_*/
ana_*/


# Probs not needed anymore:
# saved/
# saved_main/
# UNet/
# UNet_main/
# Unet/
# unet/
# ResNet/
# SegNet/
# SegNet_main/
# test_SegNet/
# test_SegNet_main/
# test_SegNet_pruned/
# test_UNet/
# test_UNet_main/
# test_UNet_pruned/
# test_UNet_pruning/
# test_uniform_SegNet_pruning/
# test_SegNet_pruning/


# z_pipeline_SegNet*/
# z_pipeline_UNet*/

# SegNet_*.sh
# UNet_*.sh
# SegNet_*.sbatch
# UNet_*.sbatch
# SegNet_*_out.txt
# UNet_*_out.txt









