

/sclera_data
/vein_sclera_data

x_out_0.txt
x_out_1.txt
x_out_2.txt
x_out_3.txt

y_run_me_0.sbatch
y_run_me_1.sbatch
y_run_me_2.sbatch
y_run_me_3.sbatch

saved/
saved_main/
UNet/
UNet_main/
Unet/
unet/
ResNet/
SegNet/
SegNet_main/
bash_results/
test_SegNet/
test_SegNet_main/
test_SegNet_pruned/
test_UNet/
test_UNet_main/
test_UNet_pruned/
test_UNet_pruning/
test_uniform_SegNet_pruning/
test_SegNet_pruning/